@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(0,0,0);
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(255,255,255)
    )
    rgb(214,219,220);
    overflow-x: hidden;
}

.uniList{
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
}

.card{
  width: 100%;
}

.github-logo:hover{
  filter: brightness(0) saturate(100%) invert(93%) sepia(16%) saturate(74%) hue-rotate(177deg) brightness(90%) contrast(91%);
}